<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.davidliebman.android.awesomeguy" android:versionCode="4" android:versionName="1.0.0.20101213">

	<application android:icon="@drawable/guy_icon" android:label="@string/app_name"
		android:debuggable="false" >

		<activity android:name=".SplashScreen" android:label="@string/app_name"
			android:clearTaskOnLaunch="true" android:launchMode="singleTask"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".Menu" 
			android:clearTaskOnLaunch="true"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="org.davidliebman.android.awesomeguy.Menu"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>


		<activity android:name=".Help"
		android:screenOrientation="portrait">
			<intent-filter></intent-filter>
		</activity>


		<activity android:name=".GameStart"
			android:screenOrientation="portrait" 
			android:clearTaskOnLaunch="true">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT"></category>
				<action android:name="org.davidliebman.android.awesomeguy.GameStart"></action>
			</intent-filter>
		</activity>


		<activity android:name=".Options"
		android:screenOrientation="portrait"
		android:clearTaskOnLaunch="true"
		>
			<intent-filter>
				<action android:name="org.davidliebman.android.awesomeguy.Options"></action>
				<category android:name="android.intent.category.LAUNCHER"></category>
			</intent-filter>
		</activity>


		<activity android:name=".Credits"
		android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="org.davidliebman.android.awesomeguy.Credits"></action>
				<category android:name="android.intent.category.LAUNCHER"></category>
			</intent-filter>
		</activity>

		<activity android:name=".Players"
		android:screenOrientation="portrait"
		android:clearTaskOnLaunch="true">
		
			<intent-filter>
				<action android:name="org.davidliebman.android.awesomeguy.Players"></action>
				<category android:name="android.intent.category.LAUNCHER"></category>

			</intent-filter>
		</activity>
		
		<activity android:name=".Highscores"
		android:screenOrientation="portrait"
		android:clearTaskOnLaunch="true">
		
			<intent-filter>
				<action android:name="org.davidliebman.android.awesomeguy.Highscores"></action>
				<category android:name="android.intent.category.LAUNCHER"></category>

			</intent-filter>
		</activity>

       

	</application>
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="8"/>
</manifest>